body{
    background-color: rgba(255, 255, 255, 0.91);
    
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    padding: 20px 20px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    text-align: center;
    z-index: 100;  
}

.navbar a{
    font-family: 'Playfair Display', serif;
    color: rgb(0, 3, 6);
    font-size: 24px;
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
    letter-spacing: 1px;
    transition: .3s;
}

.logo{
    font-size: 35px;
    font-weight: 200;
    font-family: 'Playfair Display', serif;
    color: #0ef;
    text-decoration: none;
    cursor: default;

}

.navbar a:hover,
.navbar a.active {
	
    background-color: rgba(54, 225, 234, 0.479);  
}



.homecontent {
    position: relative;
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
 
}

.contentdeatil{
    padding-left: 10%;
    
}
.contentdeatil h2{
    font-size: 44px;
    font-weight: 400;

}
.contentdeatil h1 span{
    font-size: 90px;
    font-weight: 400;
}


.mainname{
    color: #0ef;
    font-weight: 700;
 }



.home img{
   width: 1100px;
   height: 850px;
   float: left;
   border-radius: 50%;
}

.aboutme{
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-weight: 700;


}

.socialmedia a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: transparent;
    border: 2px solid#0ef ;
    border-radius: 50%;
    text-decoration: none;

}

























